<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. Roland Baja 301252375.</h6>
    </nav>
  </footer>